/* 
-----------------------------
-------------Aside-----------
-----------------------------
*/

/* Main container */
.main_container {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	position: relative;
}

/* Column Navegation */
.navegation_column {
	position: fixed;
	width: 20%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e4e4e4;
	margin: 0;
	box-shadow: 1px 0 15px rgb(0, 0, 0);
}

/* Logo container */
.logo_container {
	height: 20vh;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: 0;
	width: 100%;
	padding: 10px;
	border-bottom: 2px solid black;
}
.logo {
	text-align: center;
	width: 100%;
	object-fit: contain;
}

/* category */
.category_list {
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 60vh;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

.category {
	padding: 20px;
}

.link_category {
	outline-style: none;
	color: black;
	font-size: 24px;
	text-decoration: none;
	transition: color 0.5s;
}

.link_category:hover {
	transition: color 0.3s;
	color: rgb(76, 171, 70);
}

/* Footer */
.footer {
	height: 20vh;
	background-color: #838383;
	display: flex;
	flex-direction: column;
	padding: 15px 0;
	box-sizing: border-box;
}
.footer_title {
	text-align: center;
}
.footer_list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 4px;
}
.item {
	text-decoration: none;
	width: 50%;
}
.item_anchor {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}
.item_logo {
	width: 28%;
	object-fit: cover;
}

@media (max-width: 760px) {
	.navegation_column{
		display: none;
	}
}
